@charset "utf-8";
html,body{ width: 100%; height: 100%; overflow: hidden; background-color: #fff; }
html{ -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body{ font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    line-height: 1.5; font-size: 14px; word-break: break-all; }
.hide { display: none; }
.height-auto { width: 100%; height: auto; }
.width-auto { width: auto; height: 100%; }

/* 侧边栏 */
.aside { position: absolute; top: 0; left: 0; width: 300px; height: 100%; background-color: #252525; }

/*店铺信息*/
.store-name { position: relative; margin: 20px 0; color: white; font-size: 1.8em; line-height: 1;
	text-align: center; letter-spacing: 1.5px; }

.store-photo-container { position: relative; width: 100%; height: 150px; overflow: hidden;
	text-align: center; color: #bbb; font: 1.1em/240px "微软雅黑";
	background : #fff url(../../images/add.png) center center/60px 60px no-repeat; }
.file { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1;
	filter:alpha(opacity:0); opacity: 0; }
.change { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.change-img { width: 100%; height: 100%; z-index: -1; }
/*无src隐藏 -- 因为未给src赋值时，会出现默认border；*/
.change img[src='']{ visibility: hidden; }

/*裁剪框*/
#showEdit { display: none; max-width: 640px; height: 100%; position: fixed; top: 50%; left: 50%;
	-webkit-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
	z-index: 9; }
.showEdit-btn { width: 100%; position: absolute; top: 10px; left: 0px; }
#cancleBtn { margin-left: 10px; }
#confirmBtn { float: right; margin-right: 10px; }
#report img { background: #000; }

/* 营业按钮 */
#business-btn { display: block; width: 80%; height: 50px; margin: 30px auto 10px; line-height:50px;
    border: none; text-align: center; font: 1.2em "微软雅黑"; border: 1px solid #138250;
    -webkit-border-radius: 3px; -moz-border-radius: 3px;
        -ms-border-radius: 3px; -o-border-radius: 3px;
            border-radius: 3px; }
.start-business { background-color: #138250; color: #fff; }
.start-business:hover { background-color: #13895f;
	-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease; transition: all 0.3s ease; }
.in-business { background-color: #fff; color: #138250; }

/*保存草稿 上传产品 按钮*/
.common-btn-box { position: absolute; bottom: 0; width: 100%; height: 50px; padding: 20px 0; }
.common-btn-box .common-btn { width: 120px; height: 50px; border: none; background-color: #fff;
	font: 1.1em "微软雅黑";
	-webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; border-radius: 3px; }
.save-draft { margin: 0 5px 0 20px; }
.upload-product { margin: 0 20px 0 5px; }

/* 右边主体 */
.mainContent { position: absolute; right: 0; left: 300px; min-width: 900px; height: 100%;
	background-color: #efefef; overflow-x: hidden; overflow-y: scroll; }

/* 导航栏 */
.mainContent-nav { position: relative; min-width: 900px; background-color: white; height: 70px;
	box-shadow: 0px 0px 2px 2px rgba(161, 159, 159, 0.18);
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;   -o-box-sizing: border-box;
			box-sizing: border-box; }
.mainContent-nav ul { margin-left: 50px; }
.mainContent-nav ul li { float: left; list-style: none; font-size: 1.1em; }
.mainContent-nav ul li a{ color: #7f7f7f; display: block; padding: 0 50px; border-left: 2px solid #c5c5c5; }
.mainContent-nav li:last-child a { border-right: 2px solid #c5c5c5; }
.mainContent-nav ul li a:hover{ color: #39adb4; text-decoration: none; }
.mainContent-nav a.active { color: #39adb4; }
/*退出登录*/
.sign-out { position: absolute; right: 10px; top: 50%; padding: 5px 8px;
	font: 1em "微软雅黑"; color: #fff; border: 1px solid #ff5353; background-color: #ff5353;
	-webkit-transform: translate(0,-50%); -moz-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%); transform: translate(0,-50%);
	-webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px;
		-o-border-radius: 5px; border-radius: 5px; }

/* 产品上传 */
.addProduct-content { width: 800px; margin: 25px auto 0; padding-bottom: 20px; }

/* 产品背景图 */
.product-bg-big-box { position: relative; width: 100%; height: 475px; overflow: hidden;
	text-align: center; color: #138250; font: 1.1em/250px "微软雅黑";
	background: url("../../images/add.png") center center / 60px 60px no-repeat,
				url("../../images/productBg-default.jpg") center center / auto 100% no-repeat,
				#fff; }
.product-bg-big-box .file { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1;
	filter:alpha(opacity:0); opacity: 0; }
.product-bg-big-box .product-bg { position: absolute; left: 0; top: 0; width: 100%; height: auto; z-index: 0; }
/*无src隐藏 -- 因为未给src赋值时，会出现默认border；*/
img[src='']{ visibility: hidden; }

/*取消按钮*/
.cancel-picture { position: absolute; right: 3px; top: 3px; width: 20px; height: 20px;
	border-radius: 50%; border-radius: 50%; z-index: 2; border: 1px solid #000; cursor: pointer; }
.cancel-picture::before,
.cancel-picture::after { content: ''; position: absolute; height: 1px; width: 70%; top: 50%; left: 50%;
    margin-left: -35%; margin-top: -1px; background: #000; }
.cancel-picture::before { -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.cancel-picture::after { -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

/*设置标题*/
.set-title { position: absolute; left: 50%; bottom: 30px; margin-left: -320px; width: 600px;
	height: 20px; padding: 15px 20px; background-color: #fff; line-height: 20px; z-index: 1;
	-webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 0px 12px rgba(0, 0, 0, .25);
	-ms-box-shadow: 0 0px 12px rgba(0, 0, 0, .25);
	box-shadow: 0 0px 12px rgba(0, 0, 0, .25); }
.set-title input { width: 100%; height: 20px; line-height: 22px; font: 16px "微软雅黑";
	border: 0; _border: 0; color: #666; }

/*产品信息*/
.product-information { width: 100%; margin: 20px 0; }

.information-box { position: relative; width: 260px; height: 40px; margin: 15px 10px 15px 0;
	float: left;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
	-ms-box-sizing: border-box; box-sizing: border-box; }
.information-box:last-child { margin-right: 0!important; }
.information-tit { display: inline-block; width: 5em; height: 100%; float: left;
	text-align: center; font: 1em/40px "微软雅黑"; background-color: #555; color: #fff;
	-webkit-border-radius: 3px; -moz-border-radius: 3px;
		-ms-border-radius: 3px;		 border-radius: 3px; }
.input-information { overflow: hidden; }
.input-information input { width: 100%; height: 40px; padding: 5px; color: #000;
	font: 1em "微软雅黑";
	border-bottom: 2px solid #555; float: left; background-color: transparent;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
		-ms-box-sizing: border-box; -webkit-box-sizing: border-box; }

/*城市選擇*/
a { color: #333; text-decoration: none; outline: none; }
a:link, a:visited, a:hover, a:active { color: #333; outline: none; text-decoration: none; }

/*选择地区*/
.express-area { width: 100%; height: 40px; color: #000; cursor: pointer;
	border-bottom: 2px solid #555; float: left; background-color: transparent;
	-webkit-box-sizing: border-box;
			box-sizing: border-box; }
.express-area div { height: 100%; line-height: 40px; text-indent: 5px;
	background: url(../../images/link-arrow.png) 98% 50% / .55rem .55rem no-repeat; }
.express-area .city-value { text-align: justify; }

/*选择地区弹层*/
.express-area-box { position: fixed; bottom: -100%; left: 0; z-index: 15; width: 100%; background-color: #fff; color: #4d525d; }
.express-area-box header { position: relative; border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; }
.express-area-box header h3 { margin: 0 1.675rem; text-align: center; font-size: .8rem; line-height: 2.25rem; }
.express-area-box header .back,
.express-area-box header .close,
.express-area-box header .finish { position: absolute; top: 0; width: 2rem; height: 2.25rem; }
.express-area-box header .back { display: none; left: 0; background: url(../../images/back.png) no-repeat center; background-size: .45rem .75rem; }
.express-area-box header .close { right: 0; background: url(../../images/close-area.png) no-repeat center; background-size: .675rem .675rem; }
.express-area-box header .finish { right: 5px; font: 14px/2.25rem "微軟雅黑"; color: #b18850; display: none; }

.express-area-box article { height: 250px; overflow-y: scroll; }
.area-list li { padding: .5rem; border-bottom: 1px solid #efefef; text-align: justify; font-size: 1rem; line-height: 1.25rem; text-align: center; cursor: pointer; }
.area-list li:hover { background-color: #efefef; }

/*遮罩层*/
.mask { display: none; position: fixed; top: 0; left: 0; z-index: 12; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); }

/*预订须知*/
.booking-information { width: 100%; height: auto; }
/*费用包含*/
.notes-tit { display: -webkit-flex; display: flex; justify-content: center; align-items: center;
	width: 50%; height: 30px; margin: 20px auto; font: 1em "微软雅黑"; color: #504f4f;
	background: url(../../images/hr-title.png) center center / 100% no-repeat; }
/*限制字数*/
.limited-number { font: 1em "微软雅黑"; text-align: right; padding: 2px 5px; color: #138250;
	-webkit-box-sizing: border-box;
			box-sizing: border-box; }
textarea { width: 100%; height: 200px; padding: 10px 10px; margin: 10px 0; resize: none;
	 font: 1em "微软雅黑"; border-top: 1px solid #ccc; border: 1px solid #ebebeb;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box;
		-ms-box-sizing:border-box;      box-sizing:border-box;
	-webkit-box-shadow: 0 0px 12px rgba(204,204,204,.25);
	   -moz-box-shadow: 0 0px 12px rgba(204,204,204,.25);
		-ms-box-shadow: 0 0px 12px rgba(204,204,204,.25);
			box-shadow: 0 0px 12px rgba(204,204,204,.25); }
textarea:focus { 
	-webkit-box-shadow: 0 0px 12px rgba(0,0,0,.25);
	   -moz-box-shadow: 0 0px 12px rgba(0,0,0,.25);
		-ms-box-shadow: 0 0px 12px rgba(0,0,0,.25);
			box-shadow: 0 0px 12px rgba(0,0,0,.25);
	-webkit-transition: all .8s; -moz-transition: all .8s;
		-ms-transition: all .8s; transition: all .8s; }

/*添加行程*/
.add-trip-box-title { display: -webkit-flex; display: flex; justify-content: center; align-items: center;
	width: 50%; height: 30px; margin: 20px auto; font: 1.5em "微软雅黑"; color: #504f4f;
	background: url(../../images/hr-title.png) center center / 100% no-repeat; }

.add-trip-box { width: 100%; min-height: 500px; }
/*创建行程按钮*/
.add-trip-btn { position: relative; width: 35px; height: 35px; display: block;
	margin: 20px 0; border: 2px solid #252525; background-color: #fff; cursor: pointer;
	-webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 0px 12px rgba(0,0,0,.25);
	   -moz-box-shadow: 0 0px 12px rgba(0,0,0,.25);
		-ms-box-shadow: 0 0px 12px rgba(0,0,0,.25);
			box-shadow: 0 0px 12px rgba(0,0,0,.25); }
.add-trip-btn::before,
.add-trip-btn::after { content: ''; position: absolute; height: 2px; width: 70%; top: 50%; left: 50%;
    margin-left: -35%; margin-top: -2px; background-color: #252525; }
.add-trip-btn::after { -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }

.add-trip-btn:hover { background-color: #252525; }
.add-trip-btn:hover::before,
.add-trip-btn:hover::after { background-color: #fff; }
/*单个行程时间*/
.trip-time-box { height: 86px;
	background: url(../../images/trip-time-box-bg.gif) left bottom / 100% no-repeat; }
.trip-time-box .trip-time-input { width: 80%; height: 40px; margin-top: 20px; outline: 0;
	font: 1.5em "微软雅黑"; background-color: transparent;
	color: #504f4f; -webkit-appearance: none; -webkit-tap-highlight-color: rgba(0,0,0,0); }
/*行程图片*/
.trip-imgs-box { display: -webkit-flex; display: flex; align-content: flex-start;
	-webkit-flex-flow: row wrap; flex-flow: row wrap;
	width: 100%; height: auto; padding: 10px;
	-webkit-box-sizing:border-box;
			box-sizing:border-box; }
.trip-img-box { display: -webkit-flex; display: flex; justify-content: center; align-items: center;
	position: relative; width: 150px; height: 150px; overflow: hidden; }
.trip-img-item-box { width: 90%; height: 90%; overflow: hidden; }
.trip-img-box .height-auto { width: 100%; height: auto; }
.trip-img-box .width-auto { width: auto; height: 100%; }
/*取消图片*/
.cancel-btn { position: absolute; right: 0; top: 0; width: 30px; height: 30px; cursor: pointer; /*解决iPhone没法绑定click的问题*/
	background: url(../../images/trip-cancel.png) center center / 100% auto no-repeat; }
/*添加图片*/
.add-trip-imgs-btn { position: relative; left: 0; width: 150px; height: 150px; overflow: hidden;
	background : url(../../images/add.png) center center/ auto 80% no-repeat; }
.add-trip-imgs-btn .trip-image-input { position: absolute; left: 0; top: 0; width: 100%;
	height: 100%; z-index: 1; filter:alpha(opacity:0); opacity: 0; }