@charset "utf-8";
.identity-container { max-width: 520px; height: auto; margin: 0 auto; padding-top: 50px; }
.identity-container .identity-content { width: 75%; height: 100%; margin: 0 auto; overflow: hidden;
	padding: 2px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box; }

.identity-container h1 { margin: 1em 0 1em 1em; font: 1.2em "微软雅黑"; color: #aaa; }

/*输入框*/
#gudieCard { width: 100%; height: 34px; border: 1px solid #ddd;
	padding: 0.8em 8px; margin: 20px 0; font: 1em "微软雅黑"; color: #000;
	-webkit-border-radius: 3px;
			border-radius: 3px;
	-webkit-box-sizing: border-box;
			box-sizing: border-box; }

.card-area { position: relative; width: 100%; height: 140px; line-height: 140px; overflow: hidden;
	text-align: center; color: #fff; background-color: #ddd; }
.file { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1;
	filter:alpha(opacity:0); opacity: 0; }
.card-area #changeAvatar { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.card-area .changeAvatar-img { width: 45%; height: 100%; z-index: -1; }
/*无src隐藏 -- 因为未给src赋值时，会出现默认border；*/
.card-area #changeAvatar img[src='']{
    visibility: hidden;
}

.next { width: 100%; height: 2.5em; line-height: 2em; font: 1.2em "微软雅黑"; border: none;
	text-align: center; background-color: #252525; color: #fff; margin: 20px 0;
	-webkit-border-radius: 5px;
			border-radius: 5px; }

/*裁剪框*/
#showEdit { display: none; max-width: 640px; height: 100%; position: fixed; top: 50%; left: 50%;
	-webkit-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
	z-index: 9; }
.showEdit-btn { width: 100%; position: absolute; top: 10px; left: 0px; }
#cancleBtn { margin-left: 10px; }
#confirmBtn { float: right; margin-right: 10px; }
#report img { background: #000; }

.return { position: fixed; left: 0; right: 0; top: 0; width: 100%; height: 50px; text-align: center;
    font: 1.3em/50px "微软雅黑"; color: #504f4f; background-color: #fff; border-bottom: 1px solid #ddd; }

@media screen
and (min-width : 321px)
and (max-width : 371px) {
	.card-area { height: 142.1875px; line-height: 142.1875px; }
}

@media screen
and (min-width : 371px)
and (max-width : 421px) {
	.card-area { height: 162.5px; line-height: 162.5px; }
}

@media screen
and (min-width : 421px)
and (max-width : 471px) {
	.card-area { height: 182.8125px; line-height: 182.8125px; }
}

@media screen
and (min-width : 471px)
and (max-width : 500px) {
	.card-area { height: 197.234px; line-height: 197.234px; }
}

@media screen
and (min-width : 500px) {
	.card-area { height: 211.25px; line-height: 211.25px; }
}
