@charset "utf-8";
html,body{ width: 100%; height: 100%; overflow: hidden; background-color: #f7f8f9; }
html{ -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body{ font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    line-height: 1.5; font-size: 14px; word-break: break-all; }

/* 侧边栏 */
.aside { position: absolute; top: 0; left: 0; width: 300px; height: 100%; background-color: #252525; }

/*店铺信息*/
.store-name { position: relative; margin: 20px 0; color: white; font-size: 1.8em; line-height: 1;
	text-align: center; letter-spacing: 1.5px; }

.store-photo-container { position: relative; width: 100%; height: 150px; overflow: hidden;
	text-align: center; color: #bbb; font: 1.1em/240px "微软雅黑";
	background : #fff url(../../images/add.png) center center/60px 60px no-repeat; }
.file { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1;
	filter:alpha(opacity:0); opacity: 0; }
.change { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.change-img { width: 100%; height: 100%; z-index: -1; }
/*无src隐藏 -- 因为未给src赋值时，会出现默认border；*/
.change img[src='']{ visibility: hidden; }

/*裁剪框*/
#showEdit { display: none; max-width: 640px; height: 100%; position: fixed; top: 50%; left: 50%;
	-webkit-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
	z-index: 9; }
.showEdit-btn { width: 100%; position: absolute; top: 10px; left: 0px; }
#cancleBtn { margin-left: 10px; }
#confirmBtn { float: right; margin-right: 10px; }
#report img { background: #000; }

/* 营业按钮 */
#business-btn { display: block; width: 80%; height: 50px; margin: 30px auto 10px; line-height:50px;
    border: none; text-align: center; font: 1.2em "微软雅黑"; border: 1px solid #138250;
    -webkit-border-radius: 3px; -moz-border-radius: 3px;
        -ms-border-radius: 3px; -o-border-radius: 3px;
            border-radius: 3px; }
.start-business { background-color: #138250; color: #fff; }
.start-business:hover { background-color: #13895f;
	-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease; transition: all 0.3s ease; }
.in-business { background-color: #fff; color: #138250; }

/* 右边主体 */
.mainContent { position: absolute; right: 0; left: 300px; min-width: 900px; height: 100%;
	background-color: #efefef; overflow-x: hidden; overflow-y: scroll; }

/* 导航栏 */
.mainContent-nav { position: relative; min-width: 900px; background-color: white; height: 70px;
	box-shadow: 0px 0px 2px 2px rgba(161, 159, 159, 0.18);
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;   -o-box-sizing: border-box;
			box-sizing: border-box; }
.mainContent-nav ul { margin-left: 50px; }
.mainContent-nav ul li { float: left; list-style: none; font-size: 1.1em; }
.mainContent-nav ul li a{ color: #7f7f7f; display: block; padding: 0 50px; border-left: 2px solid #c5c5c5; }
.mainContent-nav li:last-child a { border-right: 2px solid #c5c5c5; }
.mainContent-nav ul li a:hover{ color: #39adb4; text-decoration: none; }
.mainContent-nav a.active { color: #39adb4; }
/*退出登录*/
.sign-out { position: absolute; right: 10px; top: 50%; padding: 5px 8px;
	font: 1em "微软雅黑"; color: #fff; border: 1px solid #ff5353; background-color: #ff5353;
	-webkit-transform: translate(0,-50%); -moz-transform: translate(0,-50%);
		-ms-transform: translate(0,-50%); transform: translate(0,-50%);
	-webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px;
		-o-border-radius: 5px; border-radius: 5px; }

/* 我的产品 */
.product-content { width: 1000px; margin: 25px auto 0; padding-bottom: 20px; }

.toulist-box { position: relative; width: 320px; height: 200px; background-color: #fff;
	margin: 0 6px 18px 6px; float: left; cursor: pointer;
	-webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 3px 12px rgba(0, 0, 0, .25);
	-ms-box-shadow: 0 3px 12px rgba(0, 0, 0, .25);
	box-shadow: 0 3px 12px rgba(0, 0, 0, .25); }
.toulist-box .img-box { position: relative; width: 100%;height: 150px; }
.toulist-box .img-box img { width: 100%; height: 100%; }
.toulist-box .toulist-desc { position: absolute; width: 100%; color: #fff; bottom: 2em; font: 1.1em "微软雅黑";
	-webkit-text-shadow: 0 0 4px #000; -moz-text-shadow: 0 0 4px #000;
		-ms-text-shadow: 0 0 4px #000;   -o-text-shadow: 0 0 4px #000;
			text-shadow: 0 0 4px #000; }
.toulist-desc span:first-child { float: left; text-indent: 2em; }
.ground-box { position: relative; width: 100%; height: 50px; }
.ground-box p { padding: 0 5px; text-align: center; font: 1.1em/50px "微软雅黑";
	overflow: hidden; white-space: nowrap; text-overflow: ellipsis; /*文字超出用省略号显示*/
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box;
		-ms-box-sizing: border-box; box-sizing: border-box; }