@charset "utf-8";
html{ -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
body{ font-family: "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    line-height: 1.5; word-break: break-all; }
.fl { float: left; }
.fr { float: right; }
/* 清除浮动 clearfix */
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear: both; overflow: hidden; }
.clearfix { zoom:1; }

/*nav导航栏*/
.nav { position: relative; min-width: 1000px; height: 60px; line-height: 60px; border-bottom: 1px solid #ebebeb;
	padding-left: calc(100vw-100%); background-color: rgba(255,255,255,1); }
.list-box { float: left; width: 780px; height: 60px; margin-right: 40px; text-align: center;}
.list-box ul { overflow: hidden; }
.list-box ul li { float: left; display: block; width: 80px; height: 100%; margin-left: 30px; }
.list-box ul li a { background-color: #fff; display: block; width: 80px; height: 58px; color: #000;
	            font-size: 18px; padding: 0 6px; border-bottom: 2px solid #fff; }
.nav a.active { border-bottom: 2px solid #138250; color: #138250; }
.list-box ul li a:hover { border-bottom: 2px solid #138250; color: #138250; }
/*登录注册*/
.login-out { height: 100%; margin-right: 100px; float: right; font: 1em/60px "微软雅黑";
	color: #c9c9c9; text-align: right; display: none; }
.login-out a { background-color: transparent; text-decoration: none; color: #138250;
	cursor: pointer; }
.login-out a:hover { text-decoration: underline; }
.split { display: inline-block; margin: 0 10px; width: 1px; height: 14px; background-color: #c9c9c9;
	overflow: hidden; vertical-align: -2px; *vertical-align: middle; }
/*用户头像*/
.user-box { position: relative; height: 100%; margin-right: 100px; float: right; display: none; }
.user-avatar { width: 40px; height: 40px; margin: 10px 0; display: inline-block;
	border: 1px solid #138250; overflow: hidden; cursor: pointer;
	-webkit-border-radius: 50%; -moz-border-radius: 50%;
    	-ms-border-radius: 50%;   -o-border-radius: 50%;
    		border-radius: 50%; }
.user-avatar img { width: 100%; height: 100%; }
/**/
.user-list { position: absolute; left: -30px; top: 62px; width: 100px; padding: 5px 0;
	background-color: #252525; z-index: 999; display: none;
	-webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 3px 12px rgba(0, 0, 0, .25);
	-ms-box-shadow: 0 3px 12px rgba(0, 0, 0, .25);
	box-shadow: 0 3px 12px rgba(0, 0, 0, .25); }
.user-list::before { content: ""; position: absolute; top: -10px; left: 50%; width: 0; height: 0;
	margin-left: -10px; border-left: 10px solid transparent;
    border-right: 10px solid transparent; border-bottom: 10px solid #252525; }
.user-list ul { line-height: 0; text-align: center; }
.user-list ul li { border-bottom: 1px solid #353535; }
.user-list ul li:last-child { border-bottom: none; }
.user-list ul li a { display: block; line-height: 30px; color: #fff; }
.user-list ul li a:hover { background-color: #353535; }

.tourDetails-container { max-width: 1000px; min-height: 500px; margin: 0 auto; }
/*上*/
.tour-top-box { margin: 10px 0 0; padding: 20px; border: 1px solid #ebebeb; }
/*产品背景图*/
.tour-bg { width: 450px; height: 210px; overflow: hidden; float: left; }
.tour-bg img { width: 100%; height: auto; }
/*产品信息*/
.tour-info { width: 460px; min-height: 100px; margin-left: 30px; float: left; }
/*产品标题*/
.tour-title { margin: 8px 0; font: 1.2em "微软雅黑"; color: #504f4f; }
/*产品价格*/
.tour-price-jiage { color: #666; }
.tour-price-symbol { font: normal 400 30px/1 'Century Gothic'; color: #ff5741; }
.tour-price { font: normal 400 30px/1 'Century Gothic'; color: #ff5741; }
/*费用包含*/
.booking-information-box { display: -webkit-flex; display: flex; display: box; align-items: flex-start;
	margin: 10px 0; }
.booking-information-title { color: #503b3b; }
.booking-information-value { -moz-box-flex: 1; -webkit-box-flex: 1; box-flex: 1; flex: 1;
	font: 1em "微软雅黑"; color: #504f4f; }
/*产品销量*/
.tour-sales { margin: 5px 0; font: 1em "微软雅黑"; color: #666; }

.detsils-btn { margin: 30px 10px 0 0; padding: 11px 2em; font: 700 16px/1 'Microsoft Yahei',simsong;
	border-radius: 3px; color: #fff; border-color: #ff5b45;
	outline: 0; white-space: nowrap; }
.detsils-btn:hover { background-color: #ff0000; }
.buy-button { background: #ad0000; }
.shoppingCart-button { background-color: #ff5b45; }

/**/
.tour-bottom-box { margin: 10px auto 50px; padding: 0 0 20px; }
.tour-bottom-top { height: 50px; background-color: #f2f3f4; border: 1px solid #ebebeb;
	border-bottom: none; }
.tour-details-title { display: inline-block; height: 48px; padding: 0 10px;
	text-align: center; font: 1em/50px "微软雅黑"; border-top: 2px solid #138250;
	background-color: #fff; }

.tour-route-box { width: 750px; min-height: 200px; }

.tour-time-box { height: 80px; overflow: hidden; margin: 10px 0;
	background: url(../../images/trip-time-box-bg.gif) left bottom / auto 100% no-repeat; }
.tour-time-box .tour-time { width: 80%; height: 40px; margin-top: 20px; outline: 0;
	font: 1.5em/40px "微软雅黑"; text-indent: 10px; background-color: transparent; color: #252525; }
.tour-img-box img { max-width: 100%; max-height: 100%; }

.tour-description { margin: 10px 0; color: #404040; text-align: justify; word-break: break-all; line-height: 28px; letter-spacing: 1.5px;
	font: 1.4em Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti; }

/* 返回顶部 到底部 */
.side-pannel { position: fixed; right: 20px; bottom: 20px; z-index: 99 }
.side-pannel a { position: relative; display: block; cursor: pointer; width: 60px; height: 60px; }
.side-pannel a span { display: block; width: 100%; height: 100%; }
.scroll-top-icon { background: url(../../images/scroll-top.png) center center / auto 80% no-repeat; }
.scroll-bottom-icon { background: url(../../images/scroll-bottom.png) center center / auto 80% no-repeat; }